# Rename this file to .env and fill in your real values

# Django
SECRET_KEY=hnrxw_b1&ar7eqotzy117t6+2(0rxc3)%cf0mi1*elnz93lq70
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# AI model (Google Gemini - used to power Tordi's answers)
GEMINI_API_KEY=AQ.Ab8RN6JGaDiCwZDI6QGv3kNPNXw1_5GZ3xjthDk6vuJFlaFGpw
TORDI_MODEL=gemini-2.5-flash

# Google Sign-In (from https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_ID=498314478753-9cvgqi71cm9c1odh6at4nlbf733qrlqs.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
